<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Get It Co</title>
        <!-- Use the static tag to reference the store's style.css from the backend -->
        <link rel="stylesheet" href="/assets/style.css">
        <script type="application/javascript" src="/assets/cart.js"></script>
    </head>
    <body>
        <header>
            <nav aria-label="Main navigation">
                <a href="/">Home</a>
                <a href="/products">Products</a>
                <!-- Check if the user is logged in, this condition will be parsed by the backend and the result will be given to the client. -->
                <% if ( user.is_authenticated ) { %>
                    <div style="float: right;">
                        <!-- Check if the user has a first name -->
                        <% if ( user.first_name ) { %>
                            <!-- If true render their name -->
                            Logged in as: <%= user.first_name %> <%= user.last_name %>
                        <% } else { %>
                            <!-- Otherwise just render their user name -->
                            Logged in as: <%= user.username %>
                        <% } %>
                        <a href="/logout">Logout</a>
                        <a href="/profile">Profile</a>
                    </div>
                <% } else { %>
                    <!-- If the user is not logged in, give them the login button -->
                    <div style="float: right;">
                        <a href="/login">Login</a>
                    </div>              
                <% } %>
            </nav>
        </header>
        <section class="hero">
            <span style="font: 2em sans-serif;">Get It Co</span>
            <p>Welcome to the Get It Co! We are the best supermarket in the city of Samchezter.</p>
            <a class="button" href="/products">View our products</a>
        </section>
        <main>
            <div>
                <h1 style="width: 30%;">Home</h1>
                <form style="float:right; margin-top: -50px;">
                    <label for="search">Search:</label>
                    <input id="search"/>
                    <button type="submit">Submit</button>
                </form>
            </div>
            <hr/>
            <section>
                <div style="float: left;">
                    <h2>Location</h2>
                    <p>We are located right in the heart of Samchezter.</p>
                </div>
                <div style="float: right;">
                    <iframe width="100%" height="200px" src="https://maps.minersonline.uk"></iframe>
                </div>
            </section>

        </main>
    </body>
</html>