<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Get It Co | Login</title>
        <!-- Use the static tag to reference the store's style.css from the backend -->
        <link rel="stylesheet" href="/assets/style.css">
        <script type="application/javascript" src="/assets/cart.js"></script>
    </head>
    <body>
        <header>
            <nav aria-label="Main navigation">
                <a href="/">Home</a>
                <a href="/products">Products</a>
                <!-- Check if the user is logged in, this condition will be parsed by the backend (Django) and the result will be given to the client. -->
                <% if ( is_authenticated ) { %>
                    <div style="float: right;">
                        Logged in as: <%= user.name %>
                        <a href="/logout">Logout</a>
                        <a href="/profile">Profile</a>
                    </div>
                <% } else { %>
                    <!-- If the user is not logged in, give them the login button -->
                    <div style="float: right;">
                        <a href="/login">Login</a>
                        <a href="/signup">Sign Up</a>
                    </div>
                <% } %>
            </nav>
        </header>
        <main>
            <div>
                <h1 style="width: 30%;">Login</h1>
            </div>
            <hr/>
            <article>
                <form method="post" action="/login">
                    <label for="email">Email:</label>
                    <input name="email" type="email" required/>
                    <br/>
                    <br/>
                    <label for="password">Password:</label>
                    <input name="password" type="password" required/>
                    <br/>
                    <br/>
                    <button type="submit">Submit</button>
                    <br/>
                    <% if (errors) { %>
                        <% for (const error of errors) { %>
                            <p style="color: red;"><%= error %></p>
                        <% } %>
                    <% } %>
                </form>
            </article>
        </main>
    </body>
</html>