<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Get It Co | Your Profile</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    </head>
    <body>
        <nav class="navbar navbar-expand-lg bg-body-tertiary" aria-label="Main navigation">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">
                    <img src="/assets/nav-logo.svg" alt="Get It Co" height="25">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <!-- Left aligned items -->
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" href="/">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/products">Products</a>
                        </li>
                    </ul>
                    <!-- Right aligned items -->
                    <ul class="navbar-nav ms-auto">
                        <% if ( is_authenticated ) { %>
                            <li class="nav-item">
                                <span class="nav-link">Logged in as: <%= user.name %></span>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link">Logout</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="/profile">Profile</a>
                            </li>
                        <% } else { %>
                            <!-- If the user is not logged in, give them the login button -->
                            <li class="nav-item">
                                <a class="nav-link">Login</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link">Sign Up</a>
                            </li>
                        <% } %>
                    </ul>
                </div>
            </div>
        </nav>
        <main class="container">
            <h1>Profile</h1>
            <hr/>
            <article>
                <h2>Cart:</h2>
                <div id="cart"></div>
                <a href="#">Proceed to Checkout</a>
            </article>
            <article>
                <h2>Recent orders:</h2>
                <% if (user.orders.length > 0) { %>
                <table>
                    <th>Order Number</th>
                    <th>Date</th>
                    <th>Cost (Total)</th>
                    <th>Products</th>

                        <% for (order in user.orders) { %>
                        <tr>
                            <td><code><%=order.name%></code></td>
                            <td><%=order.created_at%></td>
                            <td><code>$<%=order.total_price%></code></td>
                            <td>
                                <ul>
                                    <% for (item in order.orderitem_set.all) { %>
                                    <li><%= item.quantity %> x <a href="/products/<%=item.product.name%>"><%=item.product.name%></a> - $<%= item.total_price %></li>
                                    <% } %>
                                </ul>
                            </td>
                        </tr>
                        <% } %>
                </table>
                <% } else { %>
                    <p>You have not made any orders</p>
                <% } %>
            </article>
        </main>

        <script type="module" src="/assets/cart.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

        <script>
            window.onload = function () {
                renderCart();
            };
        </script>
    </body>
</html>