<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Get It Co | Your Profile</title>
        <!-- Use the static tag to reference the store's style.css from the backend -->
        <link rel="stylesheet" href="/assets/style.css">
        <script type="application/javascript" src="/assets/cart.js"></script>
    </head>
    <body>
        <header>
            <nav aria-label="Main navigation">
                <a href="/">Home</a>
                <a href="/products">Products</a>
                <!-- Check if the user is logged in, this condition will be parsed by the backend (Django) and the result will be given to the client. -->
                <% if ( is_authenticated ) { %>
                    <div style="float: right;">
                        Logged in as: <%= user.name %>
                        <a href="/logout">Logout</a>
                        <a href="/profile">Profile</a>
                    </div>
                <% } else { %>
                    <!-- If the user is not logged in, give them the login button -->
                    <div style="float: right;">
                        <a href="/login">Login</a>
                    </div>              
                <% } %>
            </nav>
        </header>
        <main>
            <div>
                <h1 style="width: 30%;">Profile</h1>
                <form style="float:right; margin-top: -50px;">
                    <label for="search">Search:</label>
                    <input id="search"/>
                    <button type="submit">Submit</button>
                </form>
            </div>
            <hr/>
            <article>
                <h2>Cart:</h2>
                <div id="cart"></div>
                <a href="#">Proceed to Checkout</a>
            </article>
            <article>
                <h2>Recent orders:</h2>
                <table>
                    <th>Order Number</th>
                    <th>Date</th>
                    <th>Cost (Total)</th>
                    <th>Products</th>
                    <% if (orders.length > 0) { %>
                        <% for (order in orders) %>
                        <tr>
                            <td><code><%=order.name%></code></td>
                            <td><%=order.created_at%></td>
                            <td><code>$<%=order.total_price%></code></td>
                            <td>
                                <ul>
                                    <% for (item in order.orderitem_set.all) %>
                                    <li><%= item.quantity %> x <a href="/products/<%=item.product.name%>"><%=item.product.name%></a> - $<%= item.total_price %></li>
                                    <% } %>
                                </ul>
                            </td>
                        </tr>
                        <% } %>
                    <% } else { %>
                    <tr>
                        <td colspan="4">You have not made any orders</td>
                    </tr>
                    <% } %>
                </table>
            </article>
        </main>
        <script>
            // Call the renderCart function to display the cart
            renderCart();
        </script>
    </body>
</html>