---
import Layout from "../components/Layout.astro"
---

<Layout title="Home">
    <main>
        <section class="py-5 text-center container">
            <div class="row py-lg-5">
                <div class="col-lg-6 col-md-8 mx-auto">
                    <h1 class="fw-light">Get It Co</h1>
                    <p class="lead text-body-secondary">Welcome to the Get It Co! We are the best supermarket in the city of Samchezter.</p>
                    <p>
                        <a href="/signup" class="btn btn-primary my-2">Sign up for free!</a>
                        <a href="/products" class="btn btn-secondary my-2">View our products.</a>
                    </p>
                </div>
            </div>
        </section>
        <section class="py-5 bg-body-tertiary">
            <div class="container">
                <div class="row">
                    <div class="col-8">
                        <h2>Location</h2>
                        <p>We are located right in the heart of Samchezter.</p>
                    </div>
                    <div class="col-4">
                        <iframe width="100%" src="https://maps.minersonline.uk"></iframe>
                    </div>
                </div>
            </div>
        </section>
    </main>
</Layout>