---
import Layout from "../components/Layout.astro"

import { getUser } from "../middleware";

// Fetch the current user by using the access token cookie sent by the browser.
const user = await getUser(Astro.cookies.get("access_token").value);
---

<Layout title="Profile">
    <main class="container">
        <h1>Profile</h1>
        <hr/>
        <article class="mb-3">
            <form>
                <fieldset disabled>
                    <legend><h2>Your details:</h2></legend>
                    <div class="mb-3">
                        <label for="disabledTextInput" class="form-label">User ID</label>
                        <input type="text" id="disabledTextInput" class="form-control" placeholder={user.id}>
                    </div>
                    <div class="mb-3">
                        <label for="disabledTextInput" class="form-label">First Name</label>
                        <input type="text" id="disabledTextInput" class="form-control" placeholder={user.firstName}>
                    </div>
                    <div class="mb-3">
                        <label for="disabledTextInput" class="form-label">Last Name</label>
                        <input type="text" id="disabledTextInput" class="form-control" placeholder={user.lastName}>
                    </div>
                    <div class="mb-3">
                        <label for="disabledTextInput" class="form-label">Email</label>
                        <input type="text" id="disabledTextInput" class="form-control" placeholder={user.email}>
                    </div>
                    <div class="form-text">
                        These details are bound to your Miners Online account, Get It Co cannot change them.
                    </div>
                </fieldset>
            </form>
        </article>
        <article class="mb-3">
            <h2>Cart:</h2>
            <div id="cart"></div>
            <a href="#">Proceed to Checkout</a>
        </article>
        <!-- <article>
            <h2>Recent orders:</h2>
            <% if (user.orders.length > 0) { %>
            <table>
                <th>Order Number</th>
                <th>Date</th>
                <th>Cost (Total)</th>
                <th>Products</th>

                    <% for (order in user.orders) { %>
                    <tr>
                        <td><code><%=order.name%></code></td>
                        <td><%=order.created_at%></td>
                        <td><code>$<%=order.total_price%></code></td>
                        <td>
                            <ul>
                                <% for (item in order.orderitem_set.all) { %>
                                <li><%= item.quantity %> x <a href="/products/<%=item.product.name%>"><%=item.product.name%></a> - $<%= item.total_price %></li>
                                <% } %>
                            </ul>
                        </td>
                    </tr>
                    <% } %>
            </table>
            <% } else { %>
                <p>You have not made any orders</p>
            <% } %>
        </article> -->
    </main>
</Layout>