<!-- Load the static tag to reference static files on the backend -->
{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>E-Commerce | Products</title>
        <!-- Use the static tag to reference the store's style.css from the backend -->
        <link rel="stylesheet" href="{% static 'store/style.css' %}">
    </head>
    <body>
        <header>
            <nav aria-label="Main navigation">
                <a href="/">Home</a>
                <a href="/products">Products</a>
                <!-- Check if the user is logged in, this condition will be parsed by the backend and the result will be given to the client. -->
                {% if user.is_authenticated %}
                <div style="float: right;">
                    <!-- Check if the user has a first name -->
                    {% if user.first_name %}
                    <!-- If true render their name -->
                    Logged in as: {{user.first_name}} {{user.last_name}}
                    {% else %}
                    <!-- Otherwise just render their user name -->
                    Logged in as: {{user.username}}
                    {% endif %}
                    <a href="/logout">Logout</a>
                    <a href="/profile">Profile</a>
                </div>
                {% else %}
                <!-- If the user is not logged in, give them the login button -->
                <div style="float: right;">
                    <a href="/login">Login</a>
                </div>              
                {% endif %}
            </nav>
        </header>
        <main>
            <div>
                <h1 style="width: 30%;">Products</h1>
                <form style="float:right; margin-top: -50px;">
                    <label for="search">Search:</label>
                    <input id="search"/>
                    <button type="submit">Submit</button>
                </form>
            </div>
            <hr/>
            <!-- Check if there are products available -->
            {% if products %}
            <div class="grid">
                <!-- Create a loop to iterate all the products -->
                {% for product in products %}
                <!-- For every product create the following HTML element VVVV -->
                <a href="/products/{{product.name}}" class="card" style="align-items: center; text-align: center; width: 100px;"> <!-- Create a link element with the product's name -->
                    <img src="/uploads/{{product.image}}" width="100%" height="100"> <!-- Create an image and give it the source of the product's image -->
                    <table style="border-bottom: none; width: 100%;">
                        <tbody>
                            <tr>
                                <th scope="row" colspan="2">{{product.name}}</th> <!-- Retreive the product name -->
                            </tr>
                            <tr>
                                <th scope="row" colspan="2">${{product.price}}</th> <!-- Retreive the product description -->
                            </tr>
                        </tbody>
                    </table>
                </a>
                {% endfor %}
            </div>
            {% else %}
            <!-- If there are no products display a message to the user -->
            <p>No products are available.</p>
            {% endif %}
        </main>
    </body>
</html>